.gradle/
/build/
build/
*/build/
.gradle/
/local.properties
app/build/
app/build/
.gradle/
.gradle
.gradle/file-system.probe
.gradle/8.12/executionHistory/executionHistory.bin
.gradle/8.12/executionHistory/executionHistory.lock
.gradle/8.12/fileHashes/fileHashes.bin
.gradle/8.12/fileHashes/fileHashes.lock
.gradle/8.12/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.idea/caches/deviceStreaming.xml
app/.cxx/Debug/496aj585/arm64-v8a/configure_fingerprint.bin
app/.cxx/Debug/496aj585/armeabi-v7a/configure_fingerprint.bin
app/.cxx/Debug/496aj585/x86/configure_fingerprint.bin
app/.cxx/Debug/496aj585/x86_64/configure_fingerprint.bin
app/build/intermediates/apk/debug/com.tencent.yolo11ncnn-debug.apk
app/build/intermediates/cxx/Debug/496aj585/logs/x86_64/build_model.json
app/build/intermediates/dex/debug/mergeProjectDexDebug/15/classes.dex
app/build/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
app/build/intermediates/incremental/packageDebug/tmp/debug/zip-cache/androidResources
app/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/tencent/yolo11ncnn/MainActivity.class
app/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/tencent/yolo11ncnn/MainActivity$1.class
app/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/tencent/yolo11ncnn/MainActivity$2.class
app/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/tencent/yolo11ncnn/MainActivity$3.class
app/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/tencent/yolo11ncnn/MainActivity$4.class
app/build/intermediates/linked_resources_binary_format/debug/processDebugResources/linked-resources-binary-format-debug.ap_
app/build/intermediates/manifest_merge_blame_file/debug/processDebugMainManifest/manifest-merger-blame-debug-report.txt
app/build/intermediates/merged_manifest/debug/processDebugMainManifest/AndroidManifest.xml
app/build/intermediates/merged_manifests/debug/processDebugManifest/AndroidManifest.xml
app/build/intermediates/merged_native_libs/debug/mergeDebugNativeLibs/out/lib/x86_64/libyolo11ncnn.so
app/build/intermediates/packaged_manifests/debug/processDebugManifestForPackage/AndroidManifest.xml
app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/tencent/yolo11ncnn/MainActivity.dex
app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/tencent/yolo11ncnn/MainActivity$1.dex
app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/tencent/yolo11ncnn/MainActivity$2.dex
app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/tencent/yolo11ncnn/MainActivity$3.dex
app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/tencent/yolo11ncnn/MainActivity$4.dex
